<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>WeUI</title>
        <!-- 引入 WeUI -->
        <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.2/weui.css"/>
    </head>
    <body>
        <!-- 使用 -->
<div class="weui_cells_title">表单样式</div>
<div class="weui_cells weui_cells_form">
        <div class="weui_cell weui_cell_warn">
            <div class="weui_cell_hd"><label for="" class="weui_label">用户名</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text"  value="" placeholder="请输入用户名">
            </div>
            
        </div>
      <div class="weui_cell weui_cell_warn">
            <div class="weui_cell_hd"><label for="" class="weui_label">密码</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="password"  value="" placeholder="请输入密码">
            </div>
            
        </div>
		<div class="weui_cell">
            <div class="weui_cell_hd"><label for="" class="weui_label">日期</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="date" value="">
            </div>
        </div>
		<div class="weui_cells">

        <div class="weui_cell weui_cell_select weui_select_after">
            <div class="weui_cell_hd">
                <label for="" class="weui_label">下拉选择</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" name="select2">
                    <option value="1">选项1</option>
                    <option value="2">选项2</option>
                    <option value="3">选项3</option>
                </select>
            </div>
        </div>
    </div>
		<input type="submit" class="weui_btn weui_btn_primary" value="提交表单" />
    </div>

        <a href="javascript:;" class="weui_btn weui_btn_mini  weui_btn_primary">我要预约</a>

<div class="weui_cells_title">列表样式</div>
		<div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_bd weui_cell_primary">
                <p>标题1</p>
            </div>
            <div class="weui_cell_ft">说明文字</div>
        </a>
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_bd weui_cell_primary">
                <p>标题2</p>
            </div>
            <div class="weui_cell_ft">说明文字</div>
        </a>

    </div>

<div class="weui_cells_title">活动信息样式</div>
	<div class="article">
<div class="hd">
    <h1 class="page_title">活动标题</h1>
</div>
<div class="bd">
    <article class="weui_article">                
                <p>这里是活动内容</p>     
    </article>
</div>
</div>
    </body>
</html>