<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>账号绑定</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.2/weui.css"/>
</head>
<body>
<!-- 使用 -->
<div class="weui_cells_title">账号绑定</div>
<div class="weui_cells weui_cells_form">
    <form action="http://phpweixin.itsource.cn/team13/index.php?p=Home&c=leiliang&a=bang" method="post">
    <div class="weui_cell weui_cell_warn">
        <div class="weui_cell_hd"><label for="" class="weui_label">用户名</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" name="username" type="text"  value="" placeholder="请输入用户名">
        </div>

    </div>
    <div class="weui_cell weui_cell_warn">
        <div class="weui_cell_hd"><label for="" class="weui_label">密码</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" name="password" type="password"  value="" placeholder="请输入密码">
        </div>
    </div>
    <input type="submit" class="weui_btn weui_btn_primary" value="提交表单" />
    </form>
</div>

</body>
</html>