<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>排行榜</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="./Public/i/favicon1.png">
    <link rel="apple-touch-icon-precomposed" href="./Public/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="./Public/css/amazeui.min.css"/>
    <link rel="stylesheet" href="./Public/css/admin.css">
</head>
<body>
<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                <tr>
                    <th class="table-id">类型</th><th class="table-title">金额</th><th class="table-title">消费时间</th><th class="table-title">余额</th>
                </tr>
                </thead>
                <tbody>
                {foreach $rows as $row}
                <tr>
                    <td>{$row.type}</td>
                    <td>{$row.amount}</td>
                    <td>{$row.time}</td>
                    <td>{$row.remainder}</td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </form>
    </div>
</div>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="./Public/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="./Public/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="./Public/js/amazeui.min.js"></script>
<script src="./Public/js/app.js"></script>
</body>
</html>