<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>解除绑定</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.2/weui.css"/>
</head>
<body>
<a href="http://phpweixin.itsource.cn/team13/index.php?p=Home&c=leiliang&a=showOrder" class="weui_btn weui_btn_primary">我要预约</a>
<div class="weui_cells_title">我的预约</div>
{foreach $rows as $row}
<div class="weui_cells weui_cells_access">
    <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <p>电话</p>
        </div>
        <div class="weui_cell_ft">{$row['phone']}</div>
    </a>
    <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <p>预约美发师</p>
        </div>
        <div class="weui_cell_ft">{$row['barber']}</div>
    </a>
    <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <p>备注</p>
        </div>
        <div class="weui_cell_ft">{$row['content']}</div>
    </a>
    <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <p>预约日期</p>
        </div>
        <div class="weui_cell_ft">{$row['date']}</div>
    </a>
    <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <p>状态</p>
        </div>
        <div class="weui_cell_ft">{$row['status']}</div>
    </a>
    <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <p>回复</p>
        </div>
        <div class="weui_cell_ft">{$row['reply']}</div>
    </a>
</div>
{/foreach}
</body>
</html>