{extends file='index.html'}
{block name=content}
<table class="am-table am-table-bordered am-table-radius am-table-striped">
    <thead>
    <tr>
        <th style="vertical-align: middle;">电话</th>
        <th style="vertical-align: middle;">预约美发师</th>
        <th style="vertical-align: middle;">备注</th>
        <th style="vertical-align: middle;">预约的时间</th>
        <th style="vertical-align: middle;">预约状态</th>
        <th style="vertical-align: middle;">回复信息</th>
    </tr>
    </thead>
    <tbody>
    {foreach $rows as $row}
    <tr style="text-align: center;">
        <td style="vertical-align: middle;">{$row.phone}</td>
        <td style="vertical-align: middle;">{$row.barber}</td>
        <td style="vertical-align: middle;">{$row.content}</td>
        <td style="vertical-align: middle;">{$row.date}</td>
        <td style="vertical-align: middle;">{$row.status}</td>
        <td style="vertical-align: middle;">{$row.reply}</td>
        <td style="vertical-align: middle;">
            <button {if $row.status=='已取消'||$row.status==''}disabled="disabled"{/if}
                    type="button"
                    class="am-btn am-btn-primary am-btn-xs"
                    data-am-modal="{ target: '#doc-modal-{$row.order_id}', closeViaDimmer: 0, width: 400, height: 420 }" >
                编辑
            </button>
            <a href="index.php?p=Home&c=orderuser&a=remove&id={$row['order_id']}" onclick="return confirm('你确定要取消?')"><button  class="am-btn am-btn-default am-btn-xs" {if $row.status=='已取消'||$row.status==''}disabled="disabled"{/if} >取消</button></a>
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>
<div>
    <div class="am-fr" style="margin-right: 50px">
        <ul class="am-pagination" style="display: inline-block">
            <li {if $page==1}class="am-disabled"{/if}><a href="index.php?p=Home&c=orderuser&a=off&page={$page-1}">«</a></li>

            {for $i=$stat to $end}
            <li {if $page==$i}class="am-active"{/if}><a href="index.php?p=Home&c=orderuser&a=off&page={$i}">{$i}</a></li>
            {/for}
            <li {if $page==$total_pages}class="am-disabled"{/if}><a href="index.php?p=Home&c=orderuser&a=off&page={$page+1}">»</a></li>
        </ul>
        <div style="display: inline-block">
            共{$num}条记录，到第<input id='page' type='text' size='2' name='page'>页
            <input onclick='check()'  type='button' id='sbu' value='确定'>
        </div>
    </div>
</div>
<script type="text/javascript">
    function check(){
        var oIpt=document.getElementById('page').value;
        location.href="index.php?p=Home&c=orderuser&a=off&page="+oIpt;
    }
</script>
{/block}