{extends file='index.html'}
{block name=content}
{foreach $rows as $row1}
<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-add">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">确认完成
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            <form class="am-form" action="index.php?p=Home&c=shopping&a=edit" method="post" enctype="multipart/form-data">
                <div>
                    <label for="doc-select-1">评价</label>
                    <div>
                        <select id="doc-select-1" name="evaluate">
                            <option value="满意" >满意</option>
                            <option value="比较满意" >比较满意</option>
                            <option value="一般">一般</option>
                            <option value="不满意">不满意</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="doc-select-1">评论</label>
                    <textarea name="comment"> </textarea>
                </div>
                <input type="hidden" name="shop_id" value="{$row1.shop_id}">
                <p><button type="submit" class="am-btn am-btn-default">提交</button></p>
            </form>
        </div>
    </div>
</div>
{/foreach}
<table class="am-table am-table-bordered am-table-radius am-table-striped">
    <thead>
    <tr>
        <th style="vertical-align: middle;">订单号</th>
        <th style="vertical-align: middle;">姓名</th>
        <th style="vertical-align: middle;">电话</th>
        <th style="vertical-align: middle;">地址</th>
        <th style="vertical-align: middle;">服务时间</th>
        <th style="vertical-align: middle;">状态</th>
        <th style="vertical-align: middle;">评价</th>
        <th style="vertical-align: middle;">评论</th>
    </tr>
    </thead>
    <tbody>
    {foreach $rows as $row}
    <tr style="text-align: center;">
        <td style="vertical-align: middle;">{$row.number}</td>
        <td style="vertical-align: middle;">{$row.realname}</td>
        <td style="vertical-align: middle;">{$row.phone}</td>
        <td style="vertical-align: middle;">{$row.address}</td>
        <td style="vertical-align: middle;">{$row.time}</td>
        <td style="vertical-align: middle;">{$row.status}
            <div> <button {if $row.status=='完成'}disabled="disabled"{/if}
                    type="button"
                    class="am-btn am-btn-primary am-btn-xs"
                    data-am-modal="{ target: '#doc-modal-add', closeViaDimmer: 0, width: 400, height: 300 }" >
                确认收货
            </button>
            </div></td>
        <td style="vertical-align: middle;">{$row.evaluate}</td>
        <td style="vertical-align: middle;">{$row.comment}</td>
    </tr>
    {/foreach}
    </tbody>
</table>
<div>
    <div class="am-fr" style="margin-right: 50px">
        <ul class="am-pagination" style="display: inline-block">
            <li {if $page==1}class="am-disabled"{/if}><a href="index.php?p=Home&c=shopping&a=list&page={$page-1}">«</a></li>

            {for $i=$stat to $end}
            <li {if $page==$i}class="am-active"{/if}><a href="index.php?p=Home&c=shopping&a=list&page={$i}">{$i}</a></li>
            {/for}
            <li {if $page==$total_pages}class="am-disabled"{/if}><a href="index.php?p=Home&c=shopping&a=list&page={$page+1}">»</a></li>
        </ul>
        <div style="display: inline-block">
            共{$num}条记录，到第<input id='page' type='text' size='2' name='page'>页
            <input onclick='check()'  type='button' id='sbu' value='确定'>
        </div>
    </div>
</div>
<script type="text/javascript">
    function check(){
        var oIpt=document.getElementById('page').value;
        location.href="index.php?p=Home&c=shopping&a=list&page="+oIpt;
    }
</script>
{/block}